* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(218, 255, 218);
}

.main {
    width: 1000px;
    margin: auto;
    color: black;
    padding-top: 5rem;
    background-color: whitesmoke;
}

#logo {
    width: 150px;
}

h1 {
    font-size: 5rem;
    padding: 2rem;
    font-weight: bolder;

}

.list {
    padding: 5rem;
    font-size: 3rem;
}